<center>
<p><img src="https://mcd.unison.mx/wp-content/themes/awaken/img/logo_mcd.png" width="150">
</p>



<h1>Curso Ingeniería de Características</h1>

<h3>Proyecto 2: Descargando los datos</h3>

<p> Alumno </p>
<p> Fernando Luna Ponce </p>

</center>

Para esta parte primero estaremos descargando los datos que nos interesa, esto es las defunciones por diabetes que ocurren en el Estado de Sonora. Para esto estaremos descargando la información sobre las muertes en cada estado de Mexico

Se quiere analizar analizar la distribución de las defunciones por diabetes en el Estado de Sonora, pero hay pocas fuentes en las que se puede encontrar información. Se encontraron dos fuentes que son:  
1. ~~Página de la [DGIS](http://www.dgis.salud.gob.mx/contenidos/basesdedatos/da_defunciones_gobmx.html): desde esta página se puede descargar la información de las muertes para diferentes años, esta viene en formato zip, por lo que hay que realizar una descompresión para obtener el archivo que nos interesa en formato csv.~~ En revisión posterior no se pudo realizar la conexión con la página por lo que se descargará de otra dirección el mismo dataset. [Aquí](https://www.inegi.org.mx/programas/mortalidad/#Datos_abiertos)

2. [Cuéntame de México](https://cuentame.inegi.org.mx/monografias/informacion/son/poblacion/default.aspx?tema=me&e=26): esta página contiene la información que nos interesa sobre el número de habitantes por municipio en Sonora en el 2020, si bien se podrían encontrar estos datos en otro lugar y con un formato más manejable, se decidió usar la información de esta página  para mostrar además como es el método de web scraping para extraer los datos de una tabla en formato html y almacenar estos en un dataframe.

1. Antes de empezar vamos a cargar la librerías necesarias para la descarga y limpieza de los datos

In [1]:
import os  # Para manejo de archivos y directorios
import urllib.request # Una forma estandard de descargar datos
# import requests # Otra forma no de las librerías de uso comun

import datetime # Fecha de descarga
import pandas as pd # Solo para ver el archivo descargado
import zipfile # Descompresión de archivos
import re # Expresiones regulares
import csv # Para abrir csv
import zipfile # Descompresión de archivos

from bs4 import BeautifulSoup
import requests

import numpy as np

A continuación vamos a crear algunas funciones que nos ayudarán a mantener un código más legible además de simplificar las tareas en proyectos posteriores

In [2]:
def descargadatos(url, archivo, subdir): #Para descargar un archivo
  if not os.path.exists(archivo):
    if not os.path.exists(subdir):
        os.makedirs(subdir)
    # Empezamos a descargar el primer archivo
    urllib.request.urlretrieve(url, subdir + archivo)

def descomprimeZip(subdir, archivo): # Descomprime el csv y le cambia el nombre
    with zipfile.ZipFile(subdir + archivo, "r") as zip_ref:
        nombre = zip_ref.namelist()
        zip_ref.extractall(subdir)

# Descargando los datos

**Descarga datos fuente defunciones:**

Descargamos los zip y le cambiamos el nombre, luego extraemos las carpetas que contiene y le cambiamos el nombre al csv que nos interesa.

In [3]:
url_2017 = "https://www.inegi.org.mx/contenidos/programas/mortalidad/datosabiertos/defunciones/2017/conjunto_de_datos_defunciones_generales_2017_csv.zip"
url_2018 = "https://www.inegi.org.mx/contenidos/programas/mortalidad/datosabiertos/defunciones/2018/conjunto_de_datos_defunciones_registradas_2018_csv.zip"
url_2019 = "https://www.inegi.org.mx/contenidos/programas/mortalidad/datosabiertos/defunciones/2019/conjunto_de_datos_defunciones_registradas_2019_csv.zip"
url_2020 = "https://www.inegi.org.mx/contenidos/programas/mortalidad/datosabiertos/defunciones/2020/conjunto_de_datos_defunciones_registradas_2020_csv.zip"
url_2021 = "https://www.inegi.org.mx/contenidos/programas/mortalidad/datosabiertos/defunciones/2021/conjunto_de_datos_defunciones_registradas_2021_csv.zip"

In [5]:
ruta_archivos = "./data/Archivos/"
if not os.path.exists(ruta_archivos):
    os.makedirs(ruta_archivos)

In [72]:
archivoZIP = "Defunciones_" + str(2017) + ".zip"
archivoCSV = "Defunciones_" + str(2017) + ".csv"
subdir = "./data/fuente_1/"

descargadatos(url_2017, archivoZIP, subdir)
descomprimeZip(subdir, archivoZIP)
os.rename(subdir + 'conjunto_de_datos/conjunto_de_datos_defunciones_generales_2017.csv', ruta_archivos + archivoCSV)

In [73]:
archivoZIP = "Defunciones_" + str(2018) + ".zip"
archivoCSV = "Defunciones_" + str(2018) + ".csv"
subdir = "./data/fuente_2/"

descargadatos(url_2018, archivoZIP, subdir)
descomprimeZip(subdir, archivoZIP)
os.rename(subdir + 'conjunto_de_datos/conjunto_de_datos_defunciones_registradas_2018.csv', ruta_archivos + archivoCSV)

In [74]:
archivoZIP = "Defunciones_" + str(2019) + ".zip"
archivoCSV = "Defunciones_" + str(2019) + ".csv"
subdir = "./data/fuente_3/"

descargadatos(url_2019, archivoZIP, subdir)
descomprimeZip(subdir, archivoZIP)
os.rename(subdir + 'conjunto_de_datos/conjunto_de_datos_defunciones_registradas_2019.csv', ruta_archivos + archivoCSV)

In [76]:
archivoZIP = "Defunciones_" + str(2020) + ".zip"
archivoCSV = "Defunciones_" + str(2020) + ".csv"
subdir = "./data/fuente_4/"

descargadatos(url_2020, archivoZIP, subdir)
descomprimeZip(subdir, archivoZIP)
os.rename(subdir + 'conjunto_de_datos/conjunto_de_datos_defunciones_registrados_2020.CSV', ruta_archivos + archivoCSV)

In [77]:
archivoZIP = "Defunciones_" + str(2021) + ".zip"
archivoCSV = "Defunciones_" + str(2021) + ".csv"
subdir = "./data/fuente_5/"

descargadatos(url_2021, archivoZIP, subdir)
descomprimeZip(subdir, archivoZIP)
os.rename(subdir + 'conjunto_de_datos/conjunto_de_datos_defunciones_registradas_2021.csv', ruta_archivos + archivoCSV)

Guardamos los archivos en dataframes de pandas y verificamos su longitud

In [6]:
rawDataDefunciones2017 =  pd.read_csv(ruta_archivos + "defunciones_2017.csv")
print("Tamaño archivo 2017: ", rawDataDefunciones2017.shape)

rawDataDefunciones2018 =  pd.read_csv(ruta_archivos + "defunciones_2018.csv")
print("Tamaño archivo 2018: ", rawDataDefunciones2018.shape)

rawDataDefunciones2019 =  pd.read_csv(ruta_archivos + "defunciones_2019.csv")
print("Tamaño archivo 2019: ", rawDataDefunciones2019.shape)

rawDataDefunciones2020 =  pd.read_csv(ruta_archivos + "defunciones_2020.csv")
print("Tamaño archivo 2020: ", rawDataDefunciones2020.shape)

rawDataDefunciones2021 =  pd.read_csv(ruta_archivos + "defunciones_2021.csv")
print("Tamaño archivo 2021: ", rawDataDefunciones2021.shape)

Tamaño archivo 2017:  (703047, 59)
Tamaño archivo 2018:  (722611, 62)
Tamaño archivo 2019:  (747784, 59)
Tamaño archivo 2020:  (1086743, 59)
Tamaño archivo 2021:  (1122249, 59)

**Descarga datos municipios y habitantes Sonora 2020:**

Nos interesó una tabla que contiene la información del número de habitantes en Sonora, pero no hay un archivo descargable, por lo que tenemos que hacer web scraping para poder descargar esa información.

In [7]:
url_cuentame = "https://cuentame.inegi.org.mx/monografias/informacion/son/poblacion/default.aspx?tema=me&e=26"
page = requests.get(url_cuentame) # Realizamos la petición a la url solicitada
soup = BeautifulSoup(page.content, 'html.parser') # Le damos formato html a la información

tabla = soup.find('table', id="keywords2")

In [8]:
# Generamos listas para almacenar toda la información que deseamos almacenar
listaCdMun = list()
listaNbMun = list()
listaCantidad = list()

In [9]:
filas = tabla.findAll('tr')
for i in range(len(filas)):
  if i > 0:
    columnas = filas[i].findAll('td')
    cd_municipio = columnas[0].string
    listaCdMun.append(cd_municipio)
    nb_municipio = columnas[1].string.replace('    ', ' ')
    listaNbMun.append(nb_municipio)
    nu_habitantes = columnas[2].string.replace(',', '')
    listaCantidad.append(nu_habitantes)

Generamos nuestro dataframe con toda la información que obtuvimos

In [10]:
rawDataHabitantes = pd.DataFrame({"Codigo_Municipio":listaCdMun,
                         "Nombre_Municipio":listaNbMun,
                         "Cantidad_Habitantes":listaCantidad})
rawDataHabitantes.head()

  Codigo_Municipio Nombre_Municipio Cantidad_Habitantes
0              001          Aconchi                2563
1              002      Agua Prieta               91929
2              003           Alamos               24976
3              004            Altar                9492
4              005         Arivechi                1177

# Obtener la información de las defunciones por diabetes del Estado de Sonora

**Datos defunciones**

Tenemos que generar un dataframe y quedarnos con las columnas que nos interesen, tenemos que eliminar las columnas que no nos interesen

Después de observar la composición de estos dataframes vemos que tenemos que seguir los siguientes pasos para obtener la información que nos interesa:

1. Filtrar por Estado de residencia habitual del fallecido, ya que este campo es el que nos indica donde radicaba, en este caso solo nos interesan las correspondientes al Estado de Sonora (26)

In [12]:
rawDataDefunciones2017 = rawDataDefunciones2017[rawDataDefunciones2017["ent_resid"] == 26]
print(rawDataDefunciones2017.shape)

rawDataDefunciones2018 = rawDataDefunciones2018[rawDataDefunciones2018["ent_resid"] == 26]
print(rawDataDefunciones2018.shape)

rawDataDefunciones2019 = rawDataDefunciones2019[rawDataDefunciones2019["ent_resid"] == 26]
print(rawDataDefunciones2019.shape)

rawDataDefunciones2020 = rawDataDefunciones2020[rawDataDefunciones2020["ent_resid"] == 26]
print(rawDataDefunciones2020.shape)

rawDataDefunciones2021 = rawDataDefunciones2021[rawDataDefunciones2021["ent_resid"] == 26]
print(rawDataDefunciones2021.shape)

(16729, 59)
(17644, 62)
(18485, 59)
(27814, 59)
(25273, 59)

2. Filtrar solo los que tengan causa de defunción por diabetes, para esto tenemos abrimos otro excel con la lista de nuestros valores para la columna de causa de defunción. Vamos a extraer estos valores y con estos filtraremos nuestro dataframe.

In [13]:
causaDef2017 = pd.read_csv('./data/fuente_1/catalogos/decatcausa.csv', encoding='latin-1')
causaDiabetes2017 = causaDef2017.query('DESCRIP.str.contains("Diabetes")', engine='python')

causaDef2018 = pd.read_csv('./data/fuente_2/catalogos/causa_defuncion.csv', encoding='latin-1')
causaDiabetes2018 = causaDef2018.query('DESCRIP.str.contains("Diabetes")', engine='python')

causaDef2019 = pd.read_csv('./data/fuente_3/catalogos/causa_defuncion.csv', encoding='latin-1')
causaDiabetes2019 = causaDef2019.query('descrip.str.contains("Diabetes")', engine='python')

causaDef2020 = pd.read_csv('./data/fuente_4/catalogos/causa_defuncion.csv', encoding='latin-1')
causaDiabetes2020 = causaDef2020.query('descrip.str.contains("Diabetes")', engine='python')

causaDef2021 = pd.read_csv('./data/fuente_5/catalogos/causa_defuncion.csv', encoding='latin-1')
causaDiabetes2021 = causaDef2021.query('descrip.str.contains("Diabetes")', engine='python')

In [14]:
rawDataDefunciones2017 = rawDataDefunciones2017[rawDataDefunciones2017['causa_def'].isin(causaDiabetes2017["CVE"])]
print(rawDataDefunciones2017.shape)

rawDataDefunciones2018 = rawDataDefunciones2018[rawDataDefunciones2018['causa_def'].isin(causaDiabetes2018["CVE"])]
print(rawDataDefunciones2018.shape)

rawDataDefunciones2019 = rawDataDefunciones2019[rawDataDefunciones2019['causa_def'].isin(causaDiabetes2019["cve"])]
print(rawDataDefunciones2019.shape)

rawDataDefunciones2020 = rawDataDefunciones2020[rawDataDefunciones2020['causa_def'].isin(causaDiabetes2020["cve"])]
print(rawDataDefunciones2020.shape)

rawDataDefunciones2021 = rawDataDefunciones2021[rawDataDefunciones2021['causa_def'].isin(causaDiabetes2021["cve"])]
print(rawDataDefunciones2021.shape)

(1828, 59)
(1545, 62)
(1614, 59)
(2268, 59)
(1784, 59)

3. Unimos los dataframes, pero para esto primero tenemos que dejar estos con la misma cantidad de columnas:

In [15]:
columnas = rawDataDefunciones2021.columns
rawDataDefunciones2017 = rawDataDefunciones2017[columnas]
print(rawDataDefunciones2017.shape)

rawDataDefunciones2018 = rawDataDefunciones2018[columnas]
print(rawDataDefunciones2018.shape)

rawDataDefunciones2019 = rawDataDefunciones2019[columnas]
print(rawDataDefunciones2019.shape)

rawDataDefunciones2020 = rawDataDefunciones2020[columnas]
print(rawDataDefunciones2020.shape)

(1828, 59)
(1545, 59)
(1614, 59)
(2268, 59)

In [45]:
rawDataDefunciones = pd.concat([rawDataDefunciones2017, rawDataDefunciones2018, rawDataDefunciones2019, rawDataDefunciones2020, rawDataDefunciones2021])
rawDataDefunciones.shape

(9039, 59)

# Generación del EDA automático con pandas profiling

In [17]:
from pandas_profiling import ProfileReport

In [18]:
#profile = ProfileReport(rawDataDefunciones, title="EDA_Defunciones_Diabetes")
#profile.to_file("EDA_Defunciones_Diabetes.html")

Generamos una columna de datetime

In [46]:
#rawDataDefunciones = rawDataDefunciones[rawDataDefunciones['dia_regis']<=31]
rawDataDefunciones['dia_regis'] = rawDataDefunciones['dia_regis'].apply(lambda x: 28 if x > 31 else x)
print(rawDataDefunciones.shape)

(9039, 59)

In [47]:
rawDataDefunciones['fechaRegistro'] = rawDataDefunciones['anio_regis'].astype(str) + rawDataDefunciones['mes_regis'].apply(lambda x: '{0:0>2}'.format(x)) + rawDataDefunciones['dia_regis'].apply(lambda x: '{0:0>2}'.format(x))
rawDataDefunciones['fechaRegistro'] = pd.to_datetime(rawDataDefunciones['fechaRegistro'])
rawDataDefunciones.head()

,ent_regis,mun_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,tloc_ocurr,loc_ocurr,...,maternas,lengua,cond_act,par_agre,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax,fechaRegistro
6468,2,2,26,55,13,1,2,2,15,1,...,NaN,9,9,88,88,888,8888,0,999,2017-02-24
6489,2,2,26,55,13,1,2,2,15,1,...,NaN,9,1,88,88,888,8888,0,999,2017-02-20
6612,2,2,26,55,13,1,2,2,15,1,...,NaN,9,1,88,88,888,8888,0,999,2017-01-20
8834,2,2,26,55,13,1,2,2,15,1,...,NaN,9,2,88,88,888,8888,0,999,2017-01-09
9278,2,2,26,55,13,1,2,2,15,1,...,NaN,1,2,88,88,888,8888,0,999,2017-02-11

In [48]:
rawDataDefunciones = rawDataDefunciones[["mun_resid","fechaRegistro", "tloc_resid", "ocupacion", "sexo", "edad", "asist_medi", "sitio_ocur", "lengua"]]
rawDataDefunciones.head()

,mun_resid,fechaRegistro,tloc_resid,ocupacion,sexo,edad,asist_medi,sitio_ocur,lengua
6468,55,2017-02-24,13,99,1,4072,1,4,9
6489,55,2017-02-20,13,8,1,4028,1,3,9
6612,55,2017-01-20,13,9,1,4056,1,3,9
8834,55,2017-01-09,13,11,2,4078,1,9,9
9278,55,2017-02-11,13,11,2,4071,1,3,1

In [49]:
profile = ProfileReport(rawDataDefunciones, title="EDA_Defunciones_Diabetes")
profile.to_file("EDA_Defunciones_Diabetes.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Limpieza de los datos

Revisamos los tipos de datos

In [50]:
rawDataDefunciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9039 entries, 6468 to 950254
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mun_resid      9039 non-null   int64
 1   fechaRegistro  9039 non-null   datetime64[ns]
 2   tloc_resid     9039 non-null   int64
 3   ocupacion      9039 non-null   int64
 4   sexo           9039 non-null   int64
 5   edad           9039 non-null   int64
 6   asist_medi     9039 non-null   int64
 7   sitio_ocur     9039 non-null   int64
 8   lengua         9039 non-null   int64
dtypes: datetime64[ns](1), int64(8)
memory usage: 706.2 KB

Vamos a generar columnas con las descripciones que corresponden a algunas variables, ya que estas están representadas con números pero realmente son variables categóricas

In [51]:
rawDataHabitantes["Codigo_Municipio"] = pd.to_numeric(rawDataHabitantes["Codigo_Municipio"])
df_1 = pd.merge(rawDataDefunciones, rawDataHabitantes, how='left', left_on='mun_resid', right_on='Codigo_Municipio')

In [52]:
ruta_archivos = "./data/fuente_5/catalogos/"
tamanio_loc = pd.read_csv(ruta_archivos + 'tamaño_localidad.csv', encoding='latin-1')
df_2 = pd.merge(df_1, tamanio_loc, how='left', left_on='tloc_resid', right_on='CVE')
df_2.rename(columns={ df_2.columns[13]: "tam_localidad" }, inplace = True)

In [53]:
ruta_archivos = "./data/fuente_5/catalogos/"
ocupacion = pd.read_csv(ruta_archivos + 'ocupacion.csv', encoding='latin-1')
df_3 = pd.merge(df_2, ocupacion, how='left', left_on='ocupacion', right_on='CVE')
df_3.rename(columns={ df_3.columns[15]: "descr_ocupacion" }, inplace = True)

In [54]:
ruta_archivos = "./data/fuente_5/catalogos/"
sexo = pd.read_csv(ruta_archivos + 'sexo.csv', encoding='latin-1')
df_4 = pd.merge(df_3, sexo, how='left', left_on='sexo', right_on='CVE')
df_4.rename(columns={ df_4.columns[17]: "descr_sexo" }, inplace = True)

In [55]:
ruta_archivos = "./data/fuente_5/catalogos/"
asist_medi = pd.read_csv(ruta_archivos + 'asistencia_medica.csv', encoding='latin-1')
df_5 = pd.merge(df_4, asist_medi, how='left', left_on='asist_medi', right_on='CVE')
df_5.rename(columns={ df_5.columns[19]: "descr_asist_medi" }, inplace = True)

C:\Users\ferna\AppData\Local\Temp\ipykernel_12620\3317154665.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'CVE_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_5 = pd.merge(df_4, asist_medi, how='left', left_on='asist_medi', right_on='CVE')

In [56]:
ruta_archivos = "./data/fuente_5/catalogos/"
sitio_ocur = pd.read_csv(ruta_archivos + 'sitio_ocurrencia.csv', encoding='latin-1')
df_6 = pd.merge(df_5, sitio_ocur, how='left', left_on='sitio_ocur', right_on='CVE')
df_6.rename(columns={ df_6.columns[21]: "descr_sitio_ocur" }, inplace = True)

In [57]:
ruta_archivos = "./data/fuente_5/catalogos/"
lengua = pd.read_csv(ruta_archivos + 'lengua_indigena.csv', encoding='latin-1')
df_7 = pd.merge(df_6, lengua, how='left', left_on='lengua', right_on='CVE')
df_7.rename(columns={ df_7.columns[23]: "descr_lengua" }, inplace = True)

C:\Users\ferna\AppData\Local\Temp\ipykernel_12620\837637220.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'CVE_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_7 = pd.merge(df_6, lengua, how='left', left_on='lengua', right_on='CVE')

In [58]:
df_8 = df_7[df_7['mun_resid']!=999]
df_8.rename(columns={ df_8.columns[12]: "x" }, inplace = True)

C:\Users\ferna\AppData\Local\Temp\ipykernel_12620\2058429356.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_8.rename(columns={ df_8.columns[12]: "x" }, inplace = True)

In [59]:
valores = [4998] # Valor no especificado
df_8 = df_8[-df_8["edad"].isin(valores)] # Agregamos el simbolo "-" para filtrar los valores que no estén en el df
df_8["Edad"] = df_8['edad'].apply(lambda x: 1 if x <= 4001 else x - 4000)
df_8

,mun_resid,fechaRegistro,tloc_resid,ocupacion,sexo,edad,asist_medi,sitio_ocur,lengua,Codigo_Municipio,...,descr_ocupacion,x,descr_sexo,CVE_y,descr_asist_medi,x,descr_sitio_ocur,CVE_y,descr_lengua,Edad
0,55,2017-02-24,13,99,1,4072,1,4,9,55.0,...,No especificada,1,Hombre,1,Con asistencia médica,4,ISSSTE,9,Se ignora,72
1,55,2017-02-20,13,8,1,4028,1,3,9,55.0,...,"Operadores de maquinaria industrial, ensamblad...",1,Hombre,1,Con asistencia médica,3,IMSS,9,Se ignora,28
2,55,2017-01-20,13,9,1,4056,1,3,9,55.0,...,Trabajadores en actividades elementales y de a...,1,Hombre,1,Con asistencia médica,3,IMSS,9,Se ignora,56
3,55,2017-01-09,13,11,2,4078,1,9,9,55.0,...,No trabaja,2,Mujer,1,Con asistencia médica,9,Unidad médica privada,9,Se ignora,78
4,55,2017-02-11,13,11,2,4071,1,3,1,55.0,...,No trabaja,2,Mujer,1,Con asistencia médica,3,IMSS,1,Sí,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9034,18,2021-12-15,14,11,1,4078,1,11,2,18.0,...,No trabaja,1,Hombre,1,Con asistencia médica,11,Hogar,2,No,78
9035,55,2021-12-28,13,5,1,4070,1,11,2,55.0,...,Trabajadores en servicios personales y vigilancia,1,Hombre,1,Con asistencia médica,11,Hogar,2,No,70
9036,42,2021-12-23,2,11,2,4061,2,3,2,42.0,...,No trabaja,2,Mujer,2,Sin asistencia médica,3,IMSS,2,No,61
9037,55,2021-12-15,1,11,2,4061,1,11,2,55.0,...,No trabaja,2,Mujer,1,Con asistencia médica,11,Hogar,2,No,61
9038,30,2021-01-17,15,11,1,4067,1,3,2,30.0,...,No trabaja,1,Hombre,1,Con asistencia médica,3,IMSS,2,No,67

In [60]:
rawDataDefunciones = df_8.iloc[:, [0, 10, 1, 2, 13, 3, 15, 4, 17, 24, 6, 19, 7, 21, 8, 23]]

In [61]:
rawDataDefunciones.head()

,mun_resid,Nombre_Municipio,fechaRegistro,tloc_resid,tam_localidad,ocupacion,descr_ocupacion,sexo,descr_sexo,Edad,asist_medi,descr_asist_medi,sitio_ocur,descr_sitio_ocur,lengua,descr_lengua
0,55,San Luis Río Colorado,2017-02-24,13,100 000 a 249 999 habitantes,99,No especificada,1,Hombre,72,1,Con asistencia médica,4,ISSSTE,9,Se ignora
1,55,San Luis Río Colorado,2017-02-20,13,100 000 a 249 999 habitantes,8,"Operadores de maquinaria industrial, ensamblad...",1,Hombre,28,1,Con asistencia médica,3,IMSS,9,Se ignora
2,55,San Luis Río Colorado,2017-01-20,13,100 000 a 249 999 habitantes,9,Trabajadores en actividades elementales y de a...,1,Hombre,56,1,Con asistencia médica,3,IMSS,9,Se ignora
3,55,San Luis Río Colorado,2017-01-09,13,100 000 a 249 999 habitantes,11,No trabaja,2,Mujer,78,1,Con asistencia médica,9,Unidad médica privada,9,Se ignora
4,55,San Luis Río Colorado,2017-02-11,13,100 000 a 249 999 habitantes,11,No trabaja,2,Mujer,71,1,Con asistencia médica,3,IMSS,1,Sí

In [62]:
profile = ProfileReport(rawDataDefunciones, title="EDA_Defunciones_Diabetes1")
profile.to_file("EDA_Defunciones_Diabetes1.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [76]:
rawDataDefunciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9034 entries, 0 to 9038
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   mun_resid         9034 non-null   int64
 1   Nombre_Municipio  9034 non-null   object
 2   fechaRegistro     9034 non-null   datetime64[ns]
 3   tloc_resid        9034 non-null   int64
 4   tam_localidad     9034 non-null   object
 5   ocupacion         9034 non-null   int64
 6   descr_ocupacion   9034 non-null   object
 7   sexo              9034 non-null   int64
 8   descr_sexo        9034 non-null   object
 9   Edad              9034 non-null   int64
 10  asist_medi        9034 non-null   int64
 11  descr_asist_medi  9034 non-null   object
 12  sitio_ocur        9034 non-null   int64
 13  descr_sitio_ocur  9034 non-null   object
 14  lengua            9034 non-null   int64
 15  descr_lengua      9034 non-null   object
dtypes: datetime64[ns](1), int64(8), object(7)
memory usage: 1.2+ MB

Guardamos nuestro dataframe con datos tidy

In [77]:
subdir = "./data/tidy_data/"
if not os.path.exists(subdir):
        os.makedirs(subdir)
rawDataDefunciones.to_parquet(subdir + 'Tidy_data.parquet')